<body class="black_bg">
    <form>
        <div class="img">
            <img src="../../../assets/lock.jpg" alt="">
        </div>
        <div class="form-floating">
            <input class="form-control" type="email" id="floatingInput" placeholder=" ">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder=" " >
            <label for="floatingPassword">Password</label>
        </div>
        <a routerLink="../home" >
            <button type="submit" class="btn_submit">Login</button>
        </a>
    </form>
</body>
