 <mat-toolbar>
    <mat-toolbar-row class="justify-content-between"> 
      <button mat-icon-button (click)="tooglerSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="row mr-2 ml-auto">
      <ul>
        <li>
          <button mat-button class="user mt-2 d-flex align-items-center">
            <span style="color: white;">
              <small style="font-weight: 100;">{{email}}</small>
            </span>
            <img class="user-image mr-1 p-2" src="../../../assets/user.png" alt="">
          </button>
          </li>
      </ul>
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
