<mat-nav-list>
    <div class="logo py-4">
        <img src="../../../assets/logoAdmin.png" alt="">
        <span>Dev B</span>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">User Management</h2>
    <a  routerLink="" routerLinkActive="list-item-active"><mat-icon>people</mat-icon>Users </a>
    <a  routerLink="" routerLinkActive="list-item-active"><mat-icon>people</mat-icon>Users </a>
    <a  routerLink="" routerLinkActive="list-item-active"><mat-icon>people</mat-icon>Users </a>
    <a  routerLink="" routerLinkActive="list-item-active"><mat-icon>people</mat-icon>Users </a>
    <a  routerLink="../login"><mat-icon>logout</mat-icon>Logout </a>
</mat-nav-list>|