
#close-dialog{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.content{
    padding-top: 10px;
}

.action{
    display: flex;
    align-content: space-between;
}

.action button{
    height: 55px;
    width: 50%;
    margin:auto auto;
}
mat-form-field{
    width: 100%;
}
