
#close-dialog{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.content{
    padding-top: 10px;
}


.action{width: 100%;display: flex;}
.action button{
    height: 55px;
    flex: 1;
}
mat-form-field{
    width: 100%;
}
