<div mat-dialog-title>
    <h3 class="title">Add User</h3>
    <div>
        <mat-icon (click)="closeDialogComponent()" id="close-dialog">close</mat-icon>
        <div mat-dialog-content class="content">
            <form action="">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" type="text">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" type="text">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="example@email.com" type="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="" type="password">
                    </mat-form-field>
                </div>
            </form>
        </div>
        <div mat-dialog-actions class="action">
            <button mat-raised-button (click)="closeDialogComponent()">Cancel</button>
            <button mat-raised-button color="primary">Save</button>
        </div>