<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="small-box total-user content">
                <div class="inner">
                    <h3>{{total_user}}</h3>
                    <p>Total User</p>
                </div>
                <div class="icon">
                    <mat-icon>person_add</mat-icon>
                </div>
                <a href="#" class="small-box-footer">More info</a>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box total-admin content">
                <div class="inner">
                    <h3>{{admin_count}}</h3>
                    <p>Admin Users</p>
                </div>
                <div class="icon">
                    <mat-icon>admin_panel_settings</mat-icon>
                </div>
                <a href="#" class="small-box-footer">More info</a>
            </div>
        </div>
        <div class="col">
            <div class="small-box total-normal content">
                <div class="inner">
                    <h3>{{user_count}}</h3>
                    <p>Normal Users</p>
                </div>
                <div class="icon">
                    <mat-icon>visibility</mat-icon>
                </div>
                <a href="#" class="small-box-footer">More info</a>
            </div>
        </div>
    </div>
</div>
