<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="small-box total-user content">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <mat-icon>person_add</mat-icon>
                </div>
                <a href="#" class="small-box-footer">More info</a>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box total-admin content">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <mat-icon>admin_panel_settings</mat-icon>
                </div>
                <a href="#" class="small-box-footer">More info</a>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box total-normal content">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <mat-icon>visibility</mat-icon>
                </div>
                <a href="#" class="small-box-footer">More info</a>
            </div>
        </div>
    </div>
</div>

