/* You can add global styles to this file, and also import other style files */
html{
    overflow: hidden;
}

html, body { height: 100%;}
body { margin: 0;}

app-sidebar{
        transition: all 3ms ease-in-out;
    }
*{
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: .5;
}
