.page{
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
}

.page__box{
    min-height: 120px;
    background: #0e1f3b;
    margin: 0 -1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.page__content{
    min-height: auto;
    border-radius: 10px;
    margin-top: -7rem;
    background: white;
    color: black;
    padding-bottom: 10px;
}
